
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
    <%- include('../partials/header'); %>
</header>
<h1> Login successful! </h1>
<br>
<h2> Welcome to the Flight Planner</h2>
<br>
<h2>Please select from the above menu</h2>
<br>
<br>
</body>
</html>